---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.title }} – Blog</title>
    <subtitle>{{ site.description }}</subtitle>
    <link href="{{ site.url }}/feed.xml" rel="self"/>
    <link href="{{ site.url }}/blog.html"/>
    <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ site.url }}/blog.html</id>
    <author>
        <name>{{ site.author }}</name>
        <uri>{{ site.url }}</uri>
    </author>
    {%- for post in collections.blog %}
    {%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
    <entry>
        <title>{{ post.data.pageTitle }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <published>{{ post.data.date | dateToRfc3339 }}</published>
        <updated>{{ post.data.lastModified | default(post.data.date) | dateToRfc3339 }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <summary>{{ post.data.description }}</summary>
        <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
    {%- endfor %}
</feed>
