<aside class="author-box">
    {% image "assets/images/autor.jpg", "Markus Lehleiter", "96px", "lazy", "author-box-img", [96, 192] %}
    <div class="author-box-body">
        <p class="author-box-name">Markus Lehleiter <span class="author-box-credentials">· CFA, FRM</span></p>
        <p class="author-box-bio">Über 20 Jahre Erfahrung im Finanzbereich – u.&nbsp;a. bei zwei namhaften Asset Managern. Chartered Financial Analyst (CFA), Financial Risk Manager (FRM) und Wirtschaftsmathematiker. Autor von „Optionen strategisch nutzen" und dem zugehörigen Workbook. Er vermittelt den Optionshandel praxisnah und fundiert.</p>
        <a href="/" class="author-box-link">Mehr über den Autor &amp; das Buch &rarr;</a>
    </div>
</aside>
