<aside class="author-box">
    <img src="/assets/images/autor.jpg" alt="Markus Lehleiter" class="author-box-img" width="96" height="96" loading="lazy">
    <div class="author-box-body">
        <p class="author-box-name">Markus Lehleiter <span class="author-box-credentials">· CFA, FRM</span></p>
        <p class="author-box-bio">Chartered Financial Analyst (CFA), Financial Risk Manager (FRM) und Wirtschaftsmathematiker. Autor von „Optionen strategisch nutzen" und dem zugehörigen Workbook. Er vermittelt den Optionshandel praxisnah und fundiert.</p>
        <a href="/" class="author-box-link">Mehr über den Autor &amp; das Buch &rarr;</a>
    </div>
</aside>
